.fondo1{
    width: 2000px;
}
.title{
    text-align: center;
    background-color: rgb(88, 49, 49);
    height: 40px;
    color: white
}
.single-img{
     position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}